<div class="filters-map hidden-xs hidden-sm">
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <div style='overflow:hidden;height:100%;width:100%;'>
        <div id='gmap_canvas' style='height:100%;width:100%;'></div>
        <div><small><a href="http://www.proxysitereviews.com/">proxies</a></small></div>
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
    </div>
    <script src="/static/Negot/js/main.js"></script>
    <script type='text/javascript'>
        var markers = [
            {% for listing in listings %}
            ['{{ listing.property_id.name }}',
            {{listing.property_id.latitude}},
            {{ listing.property_id.longitude }}],
            {% endfor %}
        ]
        
        google.maps.event.addDomListener(window, 'load', init_map);
        init_map();

    </script>
</div>